<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="mi_robot">
  <xacro:include filename="colors.xacro"/>
  
  <link name="base_link">

  </link>

  <joint name="chassis1_joint" type="fixed">
    <parent link="base_link"/>
    <child link="chassis_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

  <link name="chassis1_link">
    <visual>
      <geometry>
        <box size="1.5 1.0 0.5"/>
      </geometry>
      <material name="red"/>
      <origin xyz="0 0 0.25" rpy="0 0 0"/>
    </visual>
  </link>

  <joint name="chassis2_joint" type="fixed">
    <parent link="chassis1_link"/>
    <child link="chassis2_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>


  
  
</robot>
